<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	
	<!-- Default Score Service -->
	<servlet>
		<servlet-name>scoresrv</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>scoresrv</servlet-name>
		<url-pattern>/scoresrv/*</url-pattern>
	</servlet-mapping>
	
	<!-- LoanAPound -->
	<servlet>
		<servlet-name>loanapound</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>loanapound</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>loanapound</servlet-name>
		<url-pattern>/homePage.htm</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>homePage.htm</welcome-file>
	</welcome-file-list>
	
	<!--context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            /WEB-INF/loanapound-app.xml /WEB-INF/loanapound-security.xml
        </param-value>
	</context-param-->
	

	<!--error-page>
		<error-code>404</error-code>
		<location>/error.htm</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.htm</location>
	</error-page-->
	
</web-app>
